/build
/local.properties
.idea
.gradle
*.iml
/alertview/build/
/alertview/.gitignore
/app/build/
/app/.gitignore
*.pro
/PullToRefreshLibrary/build/
/MPChartLib/build/
/pickerview/.gitignore
/pickerview/build/
/circleimageview/build/
/wx/build/
*.DS_Store
